/* src/app/globals.css */
@import "tailwindcss";


/* Custom variables if you want (optional) */
:root {
  --color-bg: #f7f7f7;
  --color-text: #182b3a;
  --color-hover: #007FFF;
  --color-footer-bg: #1b1d1e;
}

/* Global body style */
body {
  background-color: #f7f7f7;
  color: #182b3a;
  font-family: Helvetica, Arial, sans-serif;
}


